html,
body {
  background: #eee;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Custom Styles */

.swiper-slide {
  width: auto;
}

.box {
  background: #fff;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 280px;
}